[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=WakeUp Host
GenericName=WakeUp Host
Comment=Ping and wakeup host
Icon=boot
Exec=wakeup-host-start
Categories=System;Network;
